BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "CLK_48" SITE "A7";
IOBUF PORT "CLK_48" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_clock" SITE "F16";
IOBUF PORT "sdram_clock" IO_TYPE=LVTTL33;
LOCATE COMP "UART0_RX" SITE "J2";
IOBUF PORT "UART0_RX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_TX" SITE "J1";
IOBUF PORT "UART0_TX" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[0]" SITE "M13";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[1]" SITE "M14";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[2]" SITE "L14";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[3]" SITE "L13";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[4]" SITE "G12";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[5]" SITE "G13";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[6]" SITE "G14";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[7]" SITE "G15";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[8]" SITE "F12";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[9]" SITE "F13";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[10]" SITE "T15";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[11]" SITE "F14";
IOBUF PORT "sdram_a[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[12]" SITE "E14";
IOBUF PORT "sdram_a[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[0]" SITE "P14";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[1]" SITE "N13";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cs_n" SITE "G16";
IOBUF PORT "sdram_cs_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cke" SITE "F15";
IOBUF PORT "sdram_cke" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ras_n" SITE "J16";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cas_n" SITE "K16";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_we_n" SITE "L15";
IOBUF PORT "sdram_we_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[0]" SITE "R15";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[1]" SITE "R16";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[2]" SITE "P16";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[3]" SITE "P15";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[4]" SITE "N16";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[5]" SITE "N14";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[6]" SITE "M16";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[7]" SITE "M15";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[8]" SITE "E15";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[9]" SITE "D16";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[10]" SITE "D14";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[11]" SITE "C16";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[12]" SITE "B16";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[13]" SITE "C14";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[14]" SITE "C15";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[15]" SITE "B15";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[0]" SITE "L16";
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[1]" SITE "E16";
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVTTL33;
LOCATE COMP "usb_host_dp" SITE "B1";
IOBUF PORT "usb_host_dp" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm" SITE "B2";
IOBUF PORT "usb_host_dm" IO_TYPE=LVCMOS33;
LOCATE COMP "DDMI_CK_P" SITE "M1";
IOBUF PORT "DDMI_CK_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_CK_P" DRIVE=4;
LOCATE COMP "DDMI_D0_P" SITE "P1";
IOBUF PORT "DDMI_D0_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D0_P" DRIVE=4;
LOCATE COMP "DDMI_D1_P" SITE "R2";
IOBUF PORT "DDMI_D1_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D1_P" DRIVE=4;
LOCATE COMP "DDMI_D2_P" SITE "R5";
IOBUF PORT "DDMI_D2_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D2_P" DRIVE=4;
LOCATE COMP "spisdcard_clk" SITE "B4";
IOBUF PORT "spisdcard_clk" SLEWRATE=FAST;
IOBUF PORT "spisdcard_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_mosi" SITE "A3";
IOBUF PORT "spisdcard_mosi" SLEWRATE=FAST;
IOBUF PORT "spisdcard_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_cs_n" SITE "B3";
IOBUF PORT "spisdcard_cs_n" SLEWRATE=FAST;
IOBUF PORT "spisdcard_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_miso" SITE "A4";
IOBUF PORT "spisdcard_miso" SLEWRATE=FAST;
IOBUF PORT "spisdcard_miso" IO_TYPE=LVCMOS33;
LOCATE COMP "usr_btn" SITE "K1";
IOBUF PORT "usr_btn" IO_TYPE=LVCMOS33;
LOCATE COMP "LED_A" SITE "G1";
IOBUF PORT "LED_A" IO_TYPE=LVCMOS33;
LOCATE COMP "led_g" SITE "E1";
IOBUF PORT "led_g" IO_TYPE=LVCMOS33;
LOCATE COMP "led_b" SITE "C1";
IOBUF PORT "led_b" IO_TYPE=LVCMOS33;
LOCATE COMP "audio_l" SITE "M11";
IOBUF PORT "audio_l" IO_TYPE=LVCMOS33;
LOCATE COMP "audio_r" SITE "P12";
IOBUF PORT "audio_r" IO_TYPE=LVCMOS33;
LOCATE COMP "dac_d0" SITE "T13";
IOBUF PORT "dac_d0" IO_TYPE=LVCMOS33;
LOCATE COMP "dac_d1" SITE "R12";
IOBUF PORT "dac_d1" IO_TYPE=LVCMOS33;
LOCATE COMP "dac_d2" SITE "T14";
IOBUF PORT "dac_d2" IO_TYPE=LVCMOS33;
LOCATE COMP "dac_d3" SITE "R13";
IOBUF PORT "dac_d3" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_dp" SITE "T6";
IOBUF PORT "usb_dp" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_dn" SITE "R6";
IOBUF PORT "usb_dn" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_dp_pu" SITE "R7";
IOBUF PORT "usb_dp_pu" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_SS_FLASH" SITE "N8";
IOBUF PORT "SPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk48" 48.0 MHz;
