BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "CLK_48" SITE "A7";
IOBUF PORT "CLK_48" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48.0 MHz;

LOCATE COMP "LED_A" SITE "A2";
IOBUF PORT "LED_A" IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_clock" SITE "F16";
IOBUF PORT "sdram_clock" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[0]" SITE "M13";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[1]" SITE "M14";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[2]" SITE "L14";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[3]" SITE "L13";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[4]" SITE "G12";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[5]" SITE "G13";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[6]" SITE "G14";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[7]" SITE "G15";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[8]" SITE "F12";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[9]" SITE "F13";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[10]" SITE "T15";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[11]" SITE "F14";
IOBUF PORT "sdram_a[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[12]" SITE "E14";
IOBUF PORT "sdram_a[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[0]" SITE "P14";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[1]" SITE "N13";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cs_n" SITE "G16";
IOBUF PORT "sdram_cs_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cke" SITE "F15";
IOBUF PORT "sdram_cke" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ras_n" SITE "J16";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cas_n" SITE "K16";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_we_n" SITE "L15";
IOBUF PORT "sdram_we_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[0]" SITE "R15";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[1]" SITE "R16";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[2]" SITE "P15";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[3]" SITE "P16";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[4]" SITE "N16";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[5]" SITE "N14";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[6]" SITE "M16";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[7]" SITE "M15";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[8]" SITE "E16";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[9]" SITE "D14";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[10]" SITE "D16";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[11]" SITE "C15";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[12]" SITE "C16";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[13]" SITE "C14";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[14]" SITE "B16";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[15]" SITE "B15";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[0]" SITE "L16";
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[1]" SITE "E15";
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVTTL33;

LOCATE COMP "usb_host_dp[0]" SITE "A3";
IOBUF PORT "usb_host_dp[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dp[1]" SITE "B1";
IOBUF PORT "usb_host_dp[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm[0]" SITE "A4";
IOBUF PORT "usb_host_dm[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm[1]" SITE "B2";
IOBUF PORT "usb_host_dm[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "DDMI_CK_P" SITE "L1";

IOBUF PORT "DDMI_CK_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_CK_P" DRIVE=4;
LOCATE COMP "DDMI_D0_P" SITE "M1";
IOBUF PORT "DDMI_D0_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D0_P" DRIVE=4;
LOCATE COMP "DDMI_D1_P" SITE "R2";
IOBUF PORT "DDMI_D1_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D1_P" DRIVE=4;
LOCATE COMP "DDMI_D2_P" SITE "R4";
IOBUF PORT "DDMI_D2_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D2_P" DRIVE=4;

LOCATE COMP "SPI_SS_FLASH" SITE "N8";
IOBUF PORT "SPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

LOCATE COMP "SD_SCK" SITE "F2";
IOBUF PORT "SD_SCK" SLEWRATE=FAST;
IOBUF PORT "SD_SCK" IO_TYPE=LVCMOS33;
LOCATE COMP "SD_MOSI" SITE "K1";
IOBUF PORT "SD_MOSI" SLEWRATE=FAST;
IOBUF PORT "SD_MOSI" IO_TYPE=LVCMOS33;
LOCATE COMP "SD_SS" SITE "K2";
IOBUF PORT "SD_SS" SLEWRATE=FAST;
IOBUF PORT "SD_SS" IO_TYPE=LVCMOS33;
LOCATE COMP "SD_MISO" SITE "F3";
IOBUF PORT "SD_MISO" SLEWRATE=FAST;
IOBUF PORT "SD_MISO" IO_TYPE=LVCMOS33;

LOCATE COMP "UART0_RX" SITE "B12";
IOBUF PORT "UART0_RX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_TX" SITE "B13";
IOBUF PORT "UART0_TX" IO_TYPE=LVCMOS33;

