BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK_48" SITE "A7";
IOBUF PORT "CLK_48" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48.0 MHz;

# USB HOST
LOCATE COMP "USBH0_DP" SITE "B1";
IOBUF PORT "USBH0_DP" IO_TYPE=LVCMOS33;
LOCATE COMP "USBH0_DN" SITE "B2";
IOBUF PORT "USBH0_DN" IO_TYPE=LVCMOS33;

LOCATE COMP "USBH1_DP" SITE "C1";
IOBUF PORT "USBH1_DP" IO_TYPE=LVCMOS33;
LOCATE COMP "USBH1_DN" SITE "C2";
IOBUF PORT "USBH1_DN" IO_TYPE=LVCMOS33;

# PMOD A (USB-UART)
LOCATE COMP "UART0_RTS" SITE "E5";
IOBUF PORT "UART0_RTS" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_RX" SITE "D4";
IOBUF PORT "UART0_RX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_TX" SITE "B5";
IOBUF PORT "UART0_TX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_CTS" SITE "C6";
IOBUF PORT "UART0_CTS" IO_TYPE=LVCMOS33;

# PMOD B (QQSPI)
LOCATE COMP "QQSPI_SS" SITE "C8";
IOBUF PORT "QQSPI_SS" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_MOSI" SITE "B9";
IOBUF PORT "QQSPI_MOSI" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_MISO" SITE "A10";
IOBUF PORT "QQSPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_SCK" SITE "C10";
IOBUF PORT "QQSPI_SCK" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_SIO2" SITE "B8";
IOBUF PORT "QQSPI_SIO2" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_SIO3" SITE "A9";
IOBUF PORT "QQSPI_SIO3" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_CS1" SITE "B10";
IOBUF PORT "QQSPI_CS1" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_CS0" SITE "D10";
IOBUF PORT "QQSPI_CS0" IO_TYPE=LVCMOS33;

# RGB LED
LOCATE COMP "LED_A" SITE "B11";
IOBUF PORT "LED_A" IO_TYPE=LVCMOS33;
LOCATE COMP "led_g" SITE "A11";
IOBUF PORT "led_g" IO_TYPE=LVCMOS33;
LOCATE COMP "led_b" SITE "C12";
IOBUF PORT "led_b" IO_TYPE=LVCMOS33;

# MMOD
LOCATE COMP "SPI_SS_FLASH" SITE "N8";
IOBUF PORT "SPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

# MICROSD
LOCATE COMP "SD_SS" SITE "A2";
IOBUF PORT "SD_SS" IO_TYPE=LVCMOS33;
IOBUF PORT "SD_SS" SLEWRATE=FAST;
LOCATE COMP "SD_MOSI" SITE "B3";
IOBUF PORT "SD_MOSI" IO_TYPE=LVCMOS33;
IOBUF PORT "SD_MOSI" SLEWRATE=FAST;
LOCATE COMP "SD_MISO" SITE "B4";
IOBUF PORT "SD_MISO" IO_TYPE=LVCMOS33;
IOBUF PORT "SD_MISO" SLEWRATE=FAST;
IOBUF PORT "SD_MISO" PULLMODE=NONE;
#IOBUF PORT "SD_MISO" PULLMODE=UP;
LOCATE COMP "SD_SCK" SITE "A3";
IOBUF PORT "SD_SCK" IO_TYPE=LVCMOS33;
IOBUF PORT "SD_SCK" SLEWRATE=FAST;

# VGA
LOCATE COMP "VGA_R" SITE "M6";
IOBUF PORT "VGA_R" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G" SITE "T4";
IOBUF PORT "VGA_G" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B" SITE "N3";
IOBUF PORT "VGA_B" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_VS" SITE "N1";
IOBUF PORT "VGA_VS" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_HS" SITE "P2";
IOBUF PORT "VGA_HS" IO_TYPE=LVCMOS33;

# PS/2
LOCATE COMP "PS2_DAT" SITE "L1";
IOBUF PORT "PS2_DAT" IO_TYPE=LVCMOS33;
LOCATE COMP "PS2_CLK" SITE "L2";
IOBUF PORT "PS2_CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "PS2B_DAT" SITE "L3";
IOBUF PORT "PS2B_DAT" IO_TYPE=LVCMOS33;
LOCATE COMP "PS2B_CLK" SITE "L4";
IOBUF PORT "PS2B_CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM_A0" SITE "J14";
IOBUF PORT "SRAM_A0" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A1" SITE "J13";
IOBUF PORT "SRAM_A1" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A2" SITE "J12";
IOBUF PORT "SRAM_A2" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A3" SITE "G14";
IOBUF PORT "SRAM_A3" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A4" SITE "G13";
IOBUF PORT "SRAM_A4" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A5" SITE "N13";
IOBUF PORT "SRAM_A5" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A6" SITE "P14";
IOBUF PORT "SRAM_A6" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A7" SITE "P13";
IOBUF PORT "SRAM_A7" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A8" SITE "P12";
IOBUF PORT "SRAM_A8" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A9" SITE "N12";
IOBUF PORT "SRAM_A9" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A10" SITE "B12";
IOBUF PORT "SRAM_A10" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A11" SITE "A12";
IOBUF PORT "SRAM_A11" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A12" SITE "A13";
IOBUF PORT "SRAM_A12" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A13" SITE "B13";
IOBUF PORT "SRAM_A13" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A14" SITE "C13";
IOBUF PORT "SRAM_A14" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A15" SITE "A15";
IOBUF PORT "SRAM_A15" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A16" SITE "B14";
IOBUF PORT "SRAM_A16" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A17" SITE "A14";
IOBUF PORT "SRAM_A17" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A18" SITE "D13";
IOBUF PORT "SRAM_A18" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM0_D0" SITE "F12";
IOBUF PORT "SRAM0_D0" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D1" SITE "E14";
IOBUF PORT "SRAM0_D1" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D2" SITE "K15";
IOBUF PORT "SRAM0_D2" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D3" SITE "K16";
IOBUF PORT "SRAM0_D3" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D4" SITE "J15";
IOBUF PORT "SRAM0_D4" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D5" SITE "J16";
IOBUF PORT "SRAM0_D5" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D6" SITE "H14";
IOBUF PORT "SRAM0_D6" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D7" SITE "H15";
IOBUF PORT "SRAM0_D7" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D8" SITE "G15";
IOBUF PORT "SRAM0_D8" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D9" SITE "F16";
IOBUF PORT "SRAM0_D9" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D10" SITE "F15";
IOBUF PORT "SRAM0_D10" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D11" SITE "E16";
IOBUF PORT "SRAM0_D11" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D12" SITE "E15";
IOBUF PORT "SRAM0_D12" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D13" SITE "D16";
IOBUF PORT "SRAM0_D13" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D14" SITE "C14";
IOBUF PORT "SRAM0_D14" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D15" SITE "C16";
IOBUF PORT "SRAM0_D15" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM0_CE" SITE "G12";
IOBUF PORT "SRAM0_CE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_OE" SITE "B15";
IOBUF PORT "SRAM0_OE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_WE" SITE "G16";
IOBUF PORT "SRAM0_WE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_LB" SITE "C15";
IOBUF PORT "SRAM0_LB" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_UB" SITE "B16";
IOBUF PORT "SRAM0_UB" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM1_D0" SITE "L13";
IOBUF PORT "SRAM1_D0" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D1" SITE "L14";
IOBUF PORT "SRAM1_D1" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D2" SITE "M13";
IOBUF PORT "SRAM1_D2" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D3" SITE "P11";
IOBUF PORT "SRAM1_D3" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D4" SITE "R12";
IOBUF PORT "SRAM1_D4" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D5" SITE "T13";
IOBUF PORT "SRAM1_D5" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D6" SITE "R13";
IOBUF PORT "SRAM1_D6" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D7" SITE "T14";
IOBUF PORT "SRAM1_D7" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D8" SITE "T15";
IOBUF PORT "SRAM1_D8" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D9" SITE "R15";
IOBUF PORT "SRAM1_D9" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D10" SITE "R16";
IOBUF PORT "SRAM1_D10" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D11" SITE "P15";
IOBUF PORT "SRAM1_D11" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D12" SITE "P16";
IOBUF PORT "SRAM1_D12" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D13" SITE "N14";
IOBUF PORT "SRAM1_D13" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D14" SITE "N16";
IOBUF PORT "SRAM1_D14" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_D15" SITE "L16";
IOBUF PORT "SRAM1_D15" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM1_CE" SITE "L12";
IOBUF PORT "SRAM1_CE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_OE" SITE "M15";
IOBUF PORT "SRAM1_OE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_WE" SITE "R14";
IOBUF PORT "SRAM1_WE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_LB" SITE "L15";
IOBUF PORT "SRAM1_LB" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_UB" SITE "M16";
IOBUF PORT "SRAM1_UB" IO_TYPE=LVCMOS33;
