BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK_48" SITE "A7";
IOBUF  PORT "CLK_48" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48 MHZ;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=2.4 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_SERIAL;

LOCATE COMP "sdram_clock" SITE "F16";
IOBUF PORT "sdram_clock" IO_TYPE=LVTTL33;

LOCATE COMP "sdram_a[0]" SITE "R14";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[1]" SITE "M14";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[2]" SITE "L14";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[3]" SITE "L13";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[4]" SITE "G12";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[5]" SITE "G13";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[6]" SITE "G14";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[7]" SITE "G15";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[8]" SITE "F12";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[9]" SITE "F13";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[10]" SITE "T15";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[11]" SITE "F14";
IOBUF PORT "sdram_a[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[12]" SITE "E14";
IOBUF PORT "sdram_a[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[0]" SITE "T14";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[1]" SITE "T13";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cs_n" SITE "G16";
IOBUF PORT "sdram_cs_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cke" SITE "F15";
IOBUF PORT "sdram_cke" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ras_n" SITE "J16";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cas_n" SITE "K16";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_we_n" SITE "L15";
IOBUF PORT "sdram_we_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[0]" SITE "R15";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[1]" SITE "R16";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[2]" SITE "P16";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[3]" SITE "P15";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[4]" SITE "N16";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[5]" SITE "N14";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[6]" SITE "M16";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[7]" SITE "M15";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[8]" SITE "E15";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[9]" SITE "D16";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[10]" SITE "D14";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[11]" SITE "C16";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[12]" SITE "B16";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[13]" SITE "C14";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[14]" SITE "C15";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[15]" SITE "B15";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[0]" SITE "L16";
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[1]" SITE "E16";
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVTTL33;

LOCATE COMP "DDMI_CK_P" SITE "R5";
IOBUF PORT "DDMI_CK_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_CK_P" DRIVE=4;
#LOCATE COMP "DDMI_CK_N" SITE "T4";
#IOBUF PORT "DDMI_CK_N" IO_TYPE=LVCMOS33D;
#IOBUF PORT "DDMI_CK_N" DRIVE=4;

LOCATE COMP "DDMI_D0_P" SITE "P4";
IOBUF PORT "DDMI_D0_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D0_P" DRIVE=4;
#LOCATE COMP "DDMI_D0_N" SITE "R3";
#IOBUF PORT "DDMI_D0_N" IO_TYPE=LVCMOS33D;
#IOBUF PORT "DDMI_D0_N" DRIVE=4;

LOCATE COMP "DDMI_D1_P" SITE "P1";
IOBUF PORT "DDMI_D1_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D1_P" DRIVE=4;
#LOCATE COMP "DDMI_D1_N" SITE "R1";
#IOBUF PORT "DDMI_D1_N" IO_TYPE=LVCMOS33D;
#IOBUF PORT "DDMI_D1_N" DRIVE=4;

LOCATE COMP "DDMI_D2_P" SITE "N1";
IOBUF PORT "DDMI_D2_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D2_P" DRIVE=4;
#LOCATE COMP "DDMI_D2_N" SITE "P2";
#IOBUF PORT "DDMI_D2_N" IO_TYPE=LVCMOS33D;
#IOBUF PORT "DDMI_D2_N" DRIVE=4;

LOCATE COMP "VGA_R" SITE "J3";
IOBUF PORT "VGA_R" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G" SITE "K3";
IOBUF PORT "VGA_G" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B" SITE "H2";
IOBUF PORT "VGA_B" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_HS" SITE "J1";
IOBUF PORT "VGA_HS" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_VS" SITE "J2";
IOBUF PORT "VGA_VS" IO_TYPE=LVCMOS33;

LOCATE COMP "LED_A" SITE "B1";
IOBUF PORT "LED_A" IO_TYPE=LVCMOS33;
LOCATE COMP "LED_R" SITE "B1";
IOBUF PORT "LED_R" IO_TYPE=LVCMOS33;
LOCATE COMP "LED_G" SITE "C1";
IOBUF PORT "LED_G" IO_TYPE=LVCMOS33;
LOCATE COMP "LED_B" SITE "D1";
IOBUF PORT "LED_B" IO_TYPE=LVCMOS33;

LOCATE COMP "spisdcard_clk" SITE "D6";
IOBUF PORT "spisdcard_clk" SLEWRATE=FAST;
IOBUF PORT "spisdcard_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_mosi" SITE "C6";
IOBUF PORT "spisdcard_mosi" SLEWRATE=FAST;
IOBUF PORT "spisdcard_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_cs_n" SITE "B6";
IOBUF PORT "spisdcard_cs_n" SLEWRATE=FAST;
IOBUF PORT "spisdcard_cs_n" IO_TYPE=LVCMOS33;
LOCATE COMP "spisdcard_miso" SITE "E6";
IOBUF PORT "spisdcard_miso" SLEWRATE=FAST;
IOBUF PORT "spisdcard_miso" IO_TYPE=LVCMOS33;

LOCATE COMP "USB_DP" SITE "T6";
IOBUF PORT "USB_DP" IO_TYPE=LVCMOS33;
LOCATE COMP "USB_DP_PU" SITE "R7";
IOBUF PORT "USB_DP_PU" IO_TYPE=LVCMOS33;
LOCATE COMP "USB_DN" SITE "R6";
IOBUF PORT "USB_DN" IO_TYPE=LVCMOS33;

LOCATE COMP "USB_HOST_DP" SITE "F2";
IOBUF PORT "USB_HOST_DP" IO_TYPE=LVCMOS33;
LOCATE COMP "USB_HOST_DN" SITE "E1";
IOBUF PORT "USB_HOST_DN" IO_TYPE=LVCMOS33;

LOCATE COMP "SPI_FLASH_CS" SITE "N8";
IOBUF PORT "SPI_FLASH_CS" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

LOCATE COMP "UART0_RTS" SITE "A2";
IOBUF PORT "UART0_RTS" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_RX" SITE "A3";
IOBUF PORT "UART0_RX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_TX" SITE "A4";
IOBUF PORT "UART0_TX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_CTS" SITE "A5";
IOBUF PORT "UART0_CTS" IO_TYPE=LVCMOS33;

#LOCATE COMP "PMOD_A1" SITE "A2";
#IOBUF PORT "PMOD_A1" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_A2" SITE "A3";
#IOBUF PORT "PMOD_A2" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_A3" SITE "A4";
#IOBUF PORT "PMOD_A3" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_A4" SITE "A5";
#IOBUF PORT "PMOD_A4" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_A7" SITE "B3";
#IOBUF PORT "PMOD_A7" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_A8" SITE "B4";
#IOBUF PORT "PMOD_A8" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_A9" SITE "B5";
#IOBUF PORT "PMOD_A9" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_A10" SITE "A6";
#IOBUF PORT "PMOD_A10" IO_TYPE=LVCMOS33;

#LOCATE COMP "PMOD_B1" SITE "A12";
#IOBUF PORT "PMOD_B1" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_B2" SITE "A11";
#IOBUF PORT "PMOD_B2" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_B3" SITE "B11";
#IOBUF PORT "PMOD_B3" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_B3" SITE "B10";
#IOBUF PORT "PMOD_B3" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_B7" SITE "A9";
#IOBUF PORT "PMOD_B7" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_B8" SITE "A10";
#IOBUF PORT "PMOD_B8" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_B9" SITE "B8";
#IOBUF PORT "PMOD_B9" IO_TYPE=LVCMOS33;
#LOCATE COMP "PMOD_B10" SITE "B9";
#IOBUF PORT "PMOD_B10" IO_TYPE=LVCMOS33;
