BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "CLK_48" SITE "128";
IOBUF PORT "CLK_48" IO_TYPE=LVCMOS33;
LOCATE COMP "LED_A" SITE "52";
IOBUF PORT "LED_A" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_clock" SITE "72";
IOBUF PORT "sdram_clock" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[0]" SITE "81";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[1]" SITE "80";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[2]" SITE "79";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[3]" SITE "78";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[4]" SITE "105";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[5]" SITE "106";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[6]" SITE "107";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[7]" SITE "108";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[8]" SITE "110";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[9]" SITE "111";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[10]" SITE "82";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[11]" SITE "112";
IOBUF PORT "sdram_a[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[12]" SITE "113";
IOBUF PORT "sdram_a[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[0]" SITE "92";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[1]" SITE "91";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cs_n" SITE "84";
IOBUF PORT "sdram_cs_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cke" SITE "114";
IOBUF PORT "sdram_cke" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ras_n" SITE "88";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cas_n" SITE "89";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_we_n" SITE "90";
IOBUF PORT "sdram_we_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[0]" SITE "104";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[1]" SITE "103";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[2]" SITE "102";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[3]" SITE "99";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[4]" SITE "98";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[5]" SITE "97";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[6]" SITE "95";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[7]" SITE "94";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[8]" SITE "116";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[9]" SITE "117";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[10]" SITE "118";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[11]" SITE "119";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[12]" SITE "120";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[13]" SITE "121";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[14]" SITE "124";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[15]" SITE "125";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[0]" SITE "93";
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[1]" SITE "115";
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVTTL33;

LOCATE COMP "SRAM_A0" SITE "133";
IOBUF PORT "SRAM_A0" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A1" SITE "134";
IOBUF PORT "SRAM_A1" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A2" SITE "135";
IOBUF PORT "SRAM_A2" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A3" SITE "136";
IOBUF PORT "SRAM_A3" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A4" SITE "127";
IOBUF PORT "SRAM_A4" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A5" SITE "4";
IOBUF PORT "SRAM_A5" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A6" SITE "5";
IOBUF PORT "SRAM_A6" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A7" SITE "14";
IOBUF PORT "SRAM_A7" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A8" SITE "28";
IOBUF PORT "SRAM_A8" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A9" SITE "37";
IOBUF PORT "SRAM_A9" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A10" SITE "35";
IOBUF PORT "SRAM_A10" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A11" SITE "34";
IOBUF PORT "SRAM_A11" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A12" SITE "33";
IOBUF PORT "SRAM_A12" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A13" SITE "31";
IOBUF PORT "SRAM_A13" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A14" SITE "30";
IOBUF PORT "SRAM_A14" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A15" SITE "10";
IOBUF PORT "SRAM_A15" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A16" SITE "7";
IOBUF PORT "SRAM_A16" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A17" SITE "6";
IOBUF PORT "SRAM_A17" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D0" SITE "139";
IOBUF PORT "SRAM0_D0" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D1" SITE "140";
IOBUF PORT "SRAM0_D1" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D2" SITE "141";
IOBUF PORT "SRAM0_D2" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D3" SITE "142";
IOBUF PORT "SRAM0_D3" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D4" SITE "143";
IOBUF PORT "SRAM0_D4" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D5" SITE "1";
IOBUF PORT "SRAM0_D5" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D6" SITE "3";
IOBUF PORT "SRAM0_D6" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D7" SITE "2";
IOBUF PORT "SRAM0_D7" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D8" SITE "27";
IOBUF PORT "SRAM0_D8" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D9" SITE "26";
IOBUF PORT "SRAM0_D9" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D10" SITE "25";
IOBUF PORT "SRAM0_D10" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D11" SITE "24";
IOBUF PORT "SRAM0_D11" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D12" SITE "23";
IOBUF PORT "SRAM0_D12" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D13" SITE "22";
IOBUF PORT "SRAM0_D13" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D14" SITE "19";
IOBUF PORT "SRAM0_D14" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_D15" SITE "18";
IOBUF PORT "SRAM0_D15" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_WE" SITE "126";
IOBUF PORT "SRAM0_WE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_OE" SITE "11";
IOBUF PORT "SRAM0_OE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_LB" SITE "13";
IOBUF PORT "SRAM0_LB" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_UB" SITE "12";
IOBUF PORT "SRAM0_UB" IO_TYPE=LVCMOS33;

LOCATE COMP "DDMI_CK_P" SITE "69";
IOBUF PORT "DDMI_CK_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_CK_P" DRIVE=4;
LOCATE COMP "DDMI_D0_P" SITE "71";
IOBUF PORT "DDMI_D0_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D0_P" DRIVE=4;
LOCATE COMP "DDMI_D1_P" SITE "74";
IOBUF PORT "DDMI_D1_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D1_P" DRIVE=4;
LOCATE COMP "DDMI_D2_P" SITE "77";
IOBUF PORT "DDMI_D2_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D2_P" DRIVE=4;

LOCATE COMP "SD_SCK" SITE "50";
IOBUF PORT "SD_SCK" SLEWRATE=FAST;
IOBUF PORT "SD_SCK" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_SS_SD" SITE "48";
IOBUF PORT "SPI_SS_SD" SLEWRATE=FAST;
IOBUF PORT "SPI_SS_SD" IO_TYPE=LVCMOS33;

#LOCATE COMP "usb_host_dp" SITE "39";
#IOBUF PORT "usb_host_dp" IO_TYPE=LVCMOS33;
#LOCATE COMP "usb_host_dm" SITE "41";
#IOBUF PORT "usb_host_dm" IO_TYPE=LVCMOS33;

LOCATE COMP "UART0_RX" SITE "39";
IOBUF PORT "UART0_RX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_TX" SITE "41";
IOBUF PORT "UART0_TX" IO_TYPE=LVCMOS33;

LOCATE COMP "SPI_SS_FLASH" SITE "49";
IOBUF PORT "SPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "46";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "47";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk48" 48.0 MHz;
